body{
	background-color: #d2cec5;;
	color:#221811;;
	font-family: Verdana, Arial, sans-serif;	
}
header{
	background-color: #f5f4f2;;
	color:#221811;
	height:50%;
	text-align: center;
}
h1{
	line-height: 200%;
	text-indent: 1em;
	
}
nav{
	font-weight:bold;
	font-color:#221811;
	float:left;
	width:150px;
	background-color: #f5f4f2;
	color:#221811;
	text-align: left;
}
footer{
	font-size: .70em;
	font-style: italic;
	margin-left: 165px;
	background-color: #f5f4f2;
	text-align:center;
	
}
#wrapper{
	width:80%;
	margin-right: auto;
	margin-left: auto;
	background-color: #f5f4f2;
}
main{
	margin-left:165px;
	background-color: #ffffff;
	height: 100%;
	}
img{
	width:70%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

h3{
  text-align: center;
  box-sizing: content-box;  
  width: 300px;
  height: 100px;
  padding: 30px;  
  border: 10px solid #f5f4f2;
}